<html>
    <head> 
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <div class = "container"> 
            <h2>Wealth Management FAQ</h2> 
            <div>
                <form action="/q1" method="POST"> 
                    <h4>How should i diversify my investment portfolio?</h4>
                    <p><input type="submit" value="Enter"></p>
                </form> 
            </div>
            <hr>
            <div>
                <form action="/q2" method="POST"> 
                    <h4>Alternatively, please enter your question: </h4>
                    <p><input type="text" name="q"></p>
                    <p><input type="submit" value="Enter"></p>
                </form> 
            </div>
        </div>
    </body>
</html>
