<html>
    <head> 
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <div class = "container"> 
            <h2>Financial Wealth Management Portal</h2>
            <form action="/prediction_DBS" method="POST">  
                <input type ="submit" value="Predict DBS Price"></input>
            </form>
            <form action="/faq" method="POST">  
                <input type ="submit" value="FAQ"></input>
            </form>
        </div>
    </body>
</html>
