<html>
    <head> 
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <div class = "container"> 
            <h2>Financial Wealth Management Portal</h2>
        <form action="/sentiment_analysis_result" method="POST">  
            <h4>Please provide input </h4>
            <p><input type="text" name="q"></p>
            <input type ="submit" value="Enter"></input>
            </form> 
        </div>
    </body>
</html>
